# Resources required by the sample browser and most samples.
[Essential]
Zip=media/packs/SdkTrays.zip
Zip=media/packs/cubemapsJS.zip
Zip=media/packs/skybox.zip

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=media/fonts
FileSystem=media/materials/programs
FileSystem=media/materials/scripts
FileSystem=media/materials/textures
FileSystem=media/models

[General]
FileSystem=media
